**/.git
**/.gitignore
**/.vscode
**/.idea
**/.env
**/.env.sample
Dockerfile
docker-compose.yaml
.dockerignore
README.md
.venv
venv
.pre-commit-config.yaml
*.mp4
*.gif
**/person1
**/person2
**/custom_dataset
**/custom_dataset_arc
**/custom_dataset_elev
**/custom_dataset_reception
**/custom_dataset_yard_arch